@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-medium text-beige-900 leading-6 bg-white text-base;
}

.btn {
  @apply block rounded-full text-base py-3.5 px-8 font-bold cursor-pointer transition-all text-center whitespace-nowrap;
}
/*

 */

/* quicksand-latin-300-normal*/
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(quicksand-latin-300-normal-15a82dea324fa5bd7109ea35d24867d7bc365760bb2ac1738c8f2d9620e24f81.woff2) format('woff2'),
    url(quicksand-latin-300-normal-2baf8fbed12b35344d7b9944456fc32af3bb855a48e514bd988f3fe12215cc59.woff) format('woff');
}
/* quicksand-latin-400-normal*/
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(quicksand-latin-400-normal-af590c118e823274a671a01ab5f90ed2923abefcb1932be9a62d1da618f7c178.woff2) format('woff2'),
    url(quicksand-latin-400-normal-a9187d769284fd48d569e5756a970fd829aecd233542d103b022e634fb8e3c9f.woff) format('woff');
}
/* quicksand-latin-500-normal*/
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(quicksand-latin-500-normal-3e1b3bfab8853f106c0c88ce4d0076c04381c9f62f15d5cd32a306331e74cb0a.woff2) format('woff2'),
    url(quicksand-latin-500-normal-ca6599ce04304e782aa59bd14121e55b2526dcba258b7e24750782e7e80f2dbf.woff) format('woff');
}
/* quicksand-latin-600-normal*/
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(quicksand-latin-600-normal-f306420ad6dc90c0da70cbef7266944eba98d5b11cd313758951e3db4e5f7862.woff2) format('woff2'),
    url(quicksand-latin-600-normal-6cbe15c4ced0dea2f1379e2395020cacc9b6f035983be2d2b600a27970c3ef46.woff) format('woff');
}
/* quicksand-latin-700-normal*/
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(quicksand-latin-700-normal-b732fff2b01ebc3376902258ef737df7164bd63d7cba87b86f63cfb44ca4f457.woff2) format('woff2'),
    url(quicksand-latin-700-normal-0725cb862c7a4d477747d4b8164d246cb3d75300ed025916b4f60d2ed3f5e2d0.woff) format('woff');
}
/* quicksand-vietnamese-300-normal*/
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(quicksand-vietnamese-300-normal-650e2a32b345a1667961dc40cec2da6901e8aa61eea8f08fe5fe696589e629b7.woff2) format('woff2'),
    url(quicksand-vietnamese-300-normal-b9303110cf5fc875d7f24c7d8c4edbfbbfa9563779b7b7a636420962ee02103a.woff) format('woff');
}
/* quicksand-vietnamese-400-normal*/
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(quicksand-vietnamese-400-normal-778846d4000ea2185fcf212cbc5c1d8d99ce71989f6cd064feb76b0a262cd045.woff2) format('woff2'),
    url(quicksand-vietnamese-400-normal-839a9add134c1269b57f108a593c62d8fc307217ab42cce4d854ca7584678ce1.woff) format('woff');
}
/* quicksand-vietnamese-500-normal*/
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(quicksand-vietnamese-500-normal-836c2761bc5918f3f0beabdea9f4640081d3da43723bc6826732242d206dcc57.woff2) format('woff2'),
    url(quicksand-vietnamese-500-normal-d23a0517a9cfcdebfacf585104a9a8e5701bc6881648e100bcd6e0c38eb01582.woff) format('woff');
}
/* quicksand-vietnamese-600-normal*/
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(quicksand-vietnamese-600-normal-77bf599b762a2cff116ed16e602a1a0dedee4afcabb8b57213322da1b3268135.woff2) format('woff2'),
    url(quicksand-vietnamese-600-normal-9a5909324aded41eb37469ba5dca54f806940ab8935f6017fbea440627bedda8.woff) format('woff');
}
/* quicksand-vietnamese-700-normal*/
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(quicksand-vietnamese-700-normal-025821c2ec6f6e107bca2c740f7f47caca4a883d6d8bc7bb6579862ff909ac9e.woff2) format('woff2'),
    url(quicksand-vietnamese-700-normal-83c531cbacb679e5a6e1af069b3e38fcbbb69e50f19cffcae4c2be263676355a.woff) format('woff');
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
